html, body{
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}
div{
    display: block;
}


/* Header */
.header{
    margin-left: 10px;
    margin-right: 10px;
    height: 69px;
    border-bottom: 1px solid seashell;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 50px;
}

li{
    list-style: none;
    text-decoration: underline;
    display: inline-block;

}

/*Mission*/

.mission{
    height: 700px;
    background-image: url("imgs/img-mission-background.jpg");
    background-size:cover;
    background-position: center center;
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.mission-container{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}

h1, h4 {
    margin: 10px auto;
}
/* Tea of the Month*/

.month{
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    max-width: 1000px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
}

.month-card img {
    height: 200px;
    width: 300px;
}
/*Locations*/

.location{
    min-height: 500px;
    background-image: url("imgs/img-locations-background.jpg");
    margin: 0 50px;
    background-size:cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.location-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location-card{
    background-color: black;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
    opacity: 1;
}


/*Contact*/

.contact{
    min-height: 200px;
    width: 100%;
}

/* Footer */
.footer{
    margin-left: 20px;
    text-align: left;
}